.article {
  height: 375px;
}

.article-info {
  height: 90%;
}

.article-info-heading {
  height: 26%;
  overflow: hidden;
}

.article-info-content {
  padding-top: 5px;
  height: 68%;
  overflow: hidden;
}

.article-badge {
  height: 10%;
  text-align: left;
  padding-top: 5px;
}
